<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header flexrow">
    <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
    <div class="header-fields">
        <h1 class="charname"><input name="name" type="text" value="{{item.name}}" ></h1>
    </div>
  </header>

  {{!-- Sheet Body --}}
  <section class="sheet-body">
    {{!-- Description Tab --}}

      <div class="sheet-item margin-top-10">
        <div class="sheet-wrapper">
          <section class="sheet-attributes">
            <div class="cell cell--4 cell--select">
              <label class="cell--title">{{localize "Shinobigami.Type"}}</label>
              <select name="data.type" class="">
                {{#select data.type}}
                <option value="{{localize 'Shinobigami.Attack'}}">{{localize "Shinobigami.Attack"}}</option>
                <option value="{{localize 'Shinobigami.Support'}}">{{localize "Shinobigami.Support"}}</option>
                <option value="{{localize 'Shinobigami.Equipment'}}">{{localize "Shinobigami.Equipment"}}</option>
                {{/select}}
              </select>
            </div>

            <div class="cell cell--4">
              <label class="cell--title">{{localize "Shinobigami.Gap"}}</label>
              <input type="text" name="data.gap" value="{{data.gap}}" data-dtype="String"/>
            </div>

            <div class="cell cell--4">
              <label class="cell--title">{{localize "Shinobigami.Cost"}}</label>
              <input type="text" name="data.cost" value="{{data.cost}}" data-dtype="String"/>
            </div>

            <div class="cell cell--4">
              <label class="cell--title">{{localize "Shinobigami.Talent"}}</label>
              <input type="text" name="data.talent" value="{{data.talent}}" data-dtype="String"/>
            </div>

          </section>

          <div class="cell--bio">
            <h3 class="cell--title"><b>{{localize "Shinobigami.Description"}}</b>

              <span class="side-box">
                <label>{{localize "Shinobigami.Hidden"}}: </label>
                <input type="checkbox" name="data.hidden" value="{{data.hidden}}" data-dtype="Boolean" {{#if data.hidden}} checked {{/if}} >
              </span>

            </h3>
            {{editor content=data.description target="data.description" button=true owner=owner editable=editable}}
          </div>

        </div>

    </section>
</form>
