<form class="{{cssClass}}" autocomplete="off">
   
  {{!-- Sheet Header --}}
  <header class="sheet-header">
      <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100"/>
      <div class="header-fields">
          <h1 class="charname">
            <input name="name" type="text" value="{{actor.name}}" placeholder="Name"/>
            <a class="inline-roll" data-flavor="{{actor.name}}" data-formula="2d6"><i class="fas fa-dice"></i></a>
          </h1>
          <div class="resource quater-width">
              <span>{{localize "Shinobigami.HP"}}</span>
              <input type="text" class="number-input" name="data.health.value" value="{{data.health.value}}" data-dtype="Number"/>
              <span> / </span>
              <input type="text" class="number-input" name="data.health.max" value="{{data.health.max}}" data-dtype="Number"/>
          </div>

          <div class="resource quater-width">
              <span>{{localize "Shinobigami.Curiosity"}}</span>
              <select name="data.talent.curiosity">
                  {{#select data.talent.curiosity}}
                  <option value="0">-</option>
                  <option value="1">{{localize "Shinobigami.A1"}}</option>
                  <option value="2">{{localize "Shinobigami.B1"}}</option>
                  <option value="3">{{localize "Shinobigami.C1"}}</option>
                  <option value="4">{{localize "Shinobigami.D1"}}</option>
                  <option value="5">{{localize "Shinobigami.E1"}}</option>
                  <option value="6">{{localize "Shinobigami.F1"}}</option>
                  {{/select}}
              </select>
          </div>


      </div>
  </header>


  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
      <a class="item" data-tab="skill">{{localize "Shinobigami.Skill"}}</a>
      <a class="item" data-tab="description">{{localize "Shinobigami.Description"}}</a>
      <a class="item" data-tab="ability">{{localize "Shinobigami.Ability"}}</a>
      <a class="item" data-tab="bonds">{{localize "Shinobigami.Bonds"}}</a>
      <a class="item" data-tab="background">{{localize "Shinobigami.Background"}}</a>
      {{#if data.isOwner}}
      <a class="item" data-tab="items">{{localize "Shinobigami.Items"}}</a>
      <a class="item" data-tab="finishs">{{localize "Shinobigami.Finish"}}</a> 
      {{/if}}
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    {{!-- Talent Tab --}}
    <div class="tab skill" data-group="primary" data-tab="skill">
      <span id="talent-description"></span>
      <div class="cell">
        <h2 class="cell--title">{{localize "Shinobigami.Skill"}}</h2>
      </div>
      <div class="talent-table">
      <table>
          <colgroup>
              <col span="1" style="width: 5%;">
              <col span="1" style="width: 2%;">
              <col span="1" style="width: 10%;">
              <col span="1" style="width: 2%;">
              <col span="1" style="width: 10%;">
              <col span="1" style="width: 2%;">
              <col span="1" style="width: 10%;">
              <col span="1" style="width: 2%;">
              <col span="1" style="width: 10%;">
              <col span="1" style="width: 2%;">
              <col span="1" style="width: 10%;">
              <col span="1" style="width: 2%;">
              <col span="1" style="width: 10%;">
              <col span="1" style="width: 5%;">
          </colgroup>

          <tbody>
              <tr>
                  <th></th>
                  <td class="gap"><input class="talent-checkbox" type="checkbox" name="data.talent.gap"  data-dtype="Boolean" {{#if data.talent.gap.[0]}} checked {{/if}}></td>
                  <th>{{localTalent "Shinobigami.A1"}}
                  <input class="talent-checkbox" type="checkbox" name="data.health.state"  data-dtype="Boolean" {{#if data.health.state.[0]}} checked {{/if}}></th>
                  <td class="gap"><input class="talent-checkbox" type="checkbox" name="data.talent.gap"  data-dtype="Boolean" {{#if data.talent.gap.[1]}} checked {{/if}}></td>
                  <th>{{localTalent "Shinobigami.B1"}}
                  <input class="talent-checkbox" type="checkbox" name="data.health.state"  data-dtype="Boolean" {{#if data.health.state.[1]}} checked {{/if}}></th>
                  <td class="gap"><input class="talent-checkbox" type="checkbox" name="data.talent.gap"  data-dtype="Boolean" {{#if data.talent.gap.[2]}} checked {{/if}}></td>
                  <th>{{localTalent "Shinobigami.C1"}}
                  <input class="talent-checkbox" type="checkbox" name="data.health.state"  data-dtype="Boolean" {{#if data.health.state.[2]}} checked {{/if}}></th>
                  <td class="gap"><input class="talent-checkbox" type="checkbox" name="data.talent.gap"  data-dtype="Boolean" {{#if data.talent.gap.[3]}} checked {{/if}}></td>
                  <th>{{localTalent "Shinobigami.D1"}}
                  <input class="talent-checkbox" type="checkbox" name="data.health.state"  data-dtype="Boolean" {{#if data.health.state.[3]}} checked {{/if}}></th>
                  <td class="gap"><input class="talent-checkbox" type="checkbox" name="data.talent.gap"  data-dtype="Boolean" {{#if data.talent.gap.[4]}} checked {{/if}}></td>
                  <th>{{localTalent "Shinobigami.E1"}}
                  <input class="talent-checkbox" type="checkbox" name="data.health.state"  data-dtype="Boolean" {{#if data.health.state.[4]}} checked {{/if}}></th>
                  <td class="gap"><input class="talent-checkbox" type="checkbox" name="data.talent.gap"  data-dtype="Boolean" {{#if data.talent.gap.[5]}} checked {{/if}}></td>
                  <th>{{localTalent "Shinobigami.F1"}}
                  <input class="talent-checkbox" type="checkbox" name="data.health.state"  data-dtype="Boolean" {{#if data.health.state.[5]}} checked {{/if}}></th>
                  <th></th>
              </tr>
              {{#each data.tables}}  
              <tr>
                  <th>{{number}}</th>
                  <td {{#if ../data.talent.gap.[0]}} class="active" {{/if}}></td>
                  <td class="{{#if line.[0].state}} checked {{/if}} {{#if line.[0].stop}} stop {{/if}}" >
                      <input class="talent-checkbox" type="checkbox" name="{{line.[0].name}}.state" {{#if line.[0].state}} checked {{/if}} >
                      <input type="hidden" name="{{line.[0].name}}.num" value="{{line.[0].num}}">
                      <input type="hidden" name="{{line.[0].name}}.stop" value="{{line.[0].stop}}" data-dtype="Boolean">
                      <label class="talent-name" data-title="{{localTalent line.[0].title}}" data-num="{{line.[0].num}}" data-id="{{line.[0].id}}" data-stop="{{line.[0].stop}}">{{localTalent line.[0].title}}</label>
                  </td>

                  <td {{#if ../data.talent.gap.[1]}} class="active" {{/if}}></td>
                  <td  class="{{#if line.[1].state}} checked {{/if}} {{#if line.[1].stop}} stop {{/if}}" >
                      <input class="talent-checkbox" type="checkbox" name="{{line.[1].name}}.state" {{#if line.[1].state}} checked {{/if}} >
                      <input type="hidden" name="{{line.[1].name}}.num" value="{{line.[1].num}}">
                      <input type="hidden" name="{{line.[1].name}}.stop" value="{{line.[1].stop}}" data-dtype="Boolean">
                      <label class="talent-name" data-title="{{localTalent line.[1].title}}" data-num="{{line.[1].num}}" data-id="{{line.[1].id}}" data-stop="{{line.[1].stop}}">{{localTalent line.[1].title}}</label>
                  </td>

                  <td {{#if ../data.talent.gap.[2]}} class="active" {{/if}}></td>

                  <td class="{{#if line.[2].state}} checked {{/if}} {{#if line.[2].stop}} stop {{/if}}" >
                      <input class="talent-checkbox" type="checkbox" name="{{line.[2].name}}.state" {{#if line.[2].state}} checked {{/if}} >
                      <input type="hidden" name="{{line.[2].name}}.num" value="{{line.[2].num}}">
                      <input type="hidden" name="{{line.[2].name}}.stop" value="{{line.[2].stop}}" data-dtype="Boolean">
                      <label class="talent-name" data-title="{{localTalent line.[2].title}}" data-num="{{line.[2].num}}" data-id="{{line.[2].id}}" data-stop="{{line.[2].stop}}">{{localTalent line.[2].title}}</label>
                  </td>

                  <td {{#if ../data.talent.gap.[3]}} class="active" {{/if}}></td>

                  <td class="{{#if line.[3].state}} checked {{/if}} {{#if line.[3].stop}} stop {{/if}}" >
                      <input class="talent-checkbox" type="checkbox" name="{{line.[3].name}}.state" {{#if line.[3].state}} checked {{/if}} >
                      <input type="hidden" name="{{line.[3].name}}.num" value="{{line.[3].num}}">
                      <input type="hidden" name="{{line.[3].name}}.stop" value="{{line.[3].stop}}" data-dtype="Boolean">
                      <label class="talent-name" data-title="{{localTalent line.[3].title}}" data-num="{{line.[3].num}}" data-id="{{line.[3].id}}" data-stop="{{line.[3].stop}}">{{localTalent line.[3].title}}</label>
                  </td>

                  <td {{#if ../data.talent.gap.[4]}} class="active" {{/if}}></td>

                  <td class="{{#if line.[4].state}} checked {{/if}} {{#if line.[4].stop}} stop {{/if}}" >
                      <input class="talent-checkbox" type="checkbox" name="{{line.[4].name}}.state" {{#if line.[4].state}} checked {{/if}} >
                      <input type="hidden" name="{{line.[4].name}}.num" value="{{line.[4].num}}">
                      <input type="hidden" name="{{line.[4].name}}.stop" value="{{line.[4].stop}}" data-dtype="Boolean">
                      <label class="talent-name" data-title="{{localTalent line.[4].title}}" data-num="{{line.[4].num}}" data-id="{{line.[4].id}}" data-stop="{{line.[4].stop}}">{{localTalent line.[4].title}}</label>
                  </td>

                  <td {{#if ../data.talent.gap.[5]}} class="active" {{/if}}></td>

                  <td class="{{#if line.[5].state}} checked {{/if}} {{#if line.[5].stop}} stop {{/if}}" >
                      <input class="talent-checkbox" type="checkbox" name="{{line.[5].name}}.state" {{#if line.[5].state}} checked {{/if}} >
                      <input type="hidden" name="{{line.[5].name}}.num" value="{{line.[5].num}}">
                      <input type="hidden" name="{{line.[5].name}}.stop" value="{{line.[5].stop}}" data-dtype="Boolean">
                      <label class="talent-name" data-title="{{localTalent line.[5].title}}" data-num="{{line.[5].num}}" data-id="{{line.[5].id}}" data-stop="{{line.[5].stop}}">{{localTalent line.[5].title}}</label>
                  </td>
                  <th>{{number}}</th>
              </tr>
              {{/each}}
          </tbody>
      </table>
      
      <table style="text-align: center;">
          <colgroup>
              <col span="1" style="width: 25%;">
              <col span="1" style="width: 25%;">
              <col span="1" style="width: 25%;">
              <col span="1" style="width: 25%;">
          </colgroup>
          <tr>
              <th>{{localize "Shinobigami.OverflowX"}}</th>
              <td><input type="checkbox" name="data.talent.overflowX" data-dtype="Boolean" {{#if data.talent.overflowX}} checked {{/if}}></td>
              <th>{{localize "Shinobigami.OverflowY"}}</th>
              <td><input type="checkbox" name="data.talent.overflowY" data-dtype="Boolean" {{#if data.talent.overflowY}} checked {{/if}}></td>
          </tr>
          
      </table>

      </div>
    </div>

      {{!-- Biography Tab --}}
      <div class="tab biography" data-group="primary" data-tab="description">
          <div class="cell">
            <h2 class="cell--title">{{localize "Shinobigami.Basic"}}</h2>
          </div>
          <table>
              <tr>
                  <th>{{localize "Shinobigami.Age"}}</th>
                  <td><input type="text" name="data.details.age" value="{{data.details.age}}"></td>
                  <th>{{localize "Shinobigami.Gender"}}</th>
                  <td><input type="text" name="data.details.sex" value="{{data.details.sex}}"></td>
              </tr>
              <tr>
                  <th>{{localize "Shinobigami.Agency"}}</th>
                  <td><input type="text" name="data.details.agency" value="{{data.details.agency}}"></td>
                  <th>{{localize "Shinobigami.Grade"}}</th>
                  <td><input type="text" name="data.details.grade" value="{{data.details.grade}}"></td>
              </tr>
              <tr>
                  <th>{{localize "Shinobigami.Purpose"}}</th>
                  <td colspan="3"><input type="text" name="data.details.purpose" value="{{data.details.purpose}}"></td>
              </tr>
              <tr>
                  <th>{{localize "Shinobigami.Identify"}}</th>
                  <td><input type="text" name="data.details.identify" value="{{data.details.identify}}"></td>
                  <th>{{localize "Shinobigami.Belief"}}</th>
                  <td><input type="text" name="data.details.belief" value="{{data.details.belief}}"></td>
              </tr>

          </table>

          <div class="cell">
            <h2 class="cell--title">{{localize "Shinobigami.Memo"}}</h2>
          </div>
          {{editor content=data.details.biography target="data.details.biography" button=true owner=owner editable=editable}}
      </div>

      {{!-- Owned Ability Tab --}}
      <div class="tab items" data-group="primary" data-tab="ability">
        <div class="cell cell--common-talent">
          <h2 class="cell--title">
            <label>{{localize "Shinobigami.AbilityList"}}</label>
            <div class="item-controls">
              <button type="button" class="item-control item-create" data-type="ability">
                <i class="fas fa-plus"></i>
              </button>
            </div>
          </h2>
          <ol class="items-list">
          {{#each actor.abilityList as |item id|}}
            <li class="item flexrow" data-item-id="{{item.id}}" draggable="true">
              
              <h4 class="item-name">
                  <span class="echo-item" style="float:left;">
                      <img src="{{item.img}}" title="{{item.name}}" width="37" height="37" style="vertical-align : middle;margin-right:10px;">
                  </span> 
                  <span class="item-label">{{item.name}}<br>
                  <span style="color : gray; font-size : smaller;">
                      <b>{{localize "Shinobigami.Type"}}</b> : {{item.data.type}} /
                      <b>{{localize "Shinobigami.Gap"}}</b> : {{item.data.gap}} /
                      <b>{{localize "Shinobigami.Cost"}}</b> : {{item.data.cost}} /
                      <b>{{localize "Shinobigami.Talent"}}</b> : {{item.data.talent}}
                      
                  <span class="item-details-toggle"><i class="fas fa-chevron-down"></i></span>
                  </span></span>
              </h4>
              
              
              <div class="item-controls">
                <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
              </div>
              <div class="item-description">
                <p>{{{item.data.description}}}</p>
              </div>
            </li>
          {{/each}}
          </ol>
        </div>
      </div>

      {{!-- Owned Bonds Tab --}}
      <div class="tab items" data-group="primary" data-tab="bonds">
        <div class="cell cell--common-talent">
          <h2 class="cell--title">
            <label>{{localize "Shinobigami.BondsList"}}</label>
            <div class="item-controls">
              <button type="button" class="item-control item-create" data-type="bond">
                <i class="fas fa-plus"></i>
              </button>
            </div>
          </h2>
          <ol class="items-list">
          {{#each actor.bondList as |item id|}}
            <li class="item flexrow" data-item-id="{{item.id}}" draggable="true">
              
              <h4 class="item-name">
                  <span class="echo-item" style="float:left;">
                      <img src="{{item.img}}" title="{{item.name}}" width="37" height="37" style="vertical-align : middle;margin-right:10px;">
                  </span> 
                  <span class="item-label">{{item.name}}<br>
                  <span style="color : gray; font-size : smaller;">
                      <b>{{localize "Shinobigami.Residence"}}</b> : {{#if item.data.residence}} O {{else}} X {{/if}} /
                      <b>{{localize "Shinobigami.Secret"}}</b> : {{#if item.data.secret}} O {{else}} X {{/if}} /
                      <b>{{localize "Shinobigami.Finish"}}</b> : {{#if item.data.finish}} O {{else}} X {{/if}} /
                      <b>{{localize "Shinobigami.Feeling"}}</b> : {{item.data.feeling}}
                      
                  <span class="item-details-toggle"><i class="fas fa-chevron-down"></i></span>
                  </span></span>
              </h4>

              <div class="item-controls">
                <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
              </div>
              <div class="item-description">
                      <p>{{{item.data.description}}}</p>
              </div>
            </li>
          {{/each}}
          </ol>
        </div>
      </div>
      
      {{!-- Owned Background Tab --}}
      <div class="tab items" data-group="primary" data-tab="background">
        <div class="cell">
          <h2 class="cell--title">{{localize "Shinobigami.Exp"}}</b></h2>
          <input type="text" name="data.details.exp" value="{{data.details.exp}}">
        </div>
        <br>
        <div class="cell cell--common-talent">
          <h2 class="cell--title">
            <label>{{localize "Shinobigami.Background"}}</label>
            <div class="item-controls">
              <button type="button" class="item-control item-create" data-type="background" >
                <i class="fas fa-plus"></i>
              </button>
            </div>
          </h2>
          <ol class="items-list">
          {{#each actor.backgroundList as |item id|}}
            <li class="item flexrow" data-item-id="{{item.id}}" draggable="true">
              <h4 class="item-name">
                  <span class="echo-item"><img src="{{item.img}}" title="{{item.name}}" width="37" height="37" style="vertical-align : middle;margin-right:10px;"></i></span> 
                  <span class="item-label">{{item.name}} {{#ifEquals item.data.type "pros"}} <i class="fas fa-grin-alt"></i> {{else}} <i class="fas fa-frown"></i> {{/ifEquals}}

                      <span class="item-details-toggle">
                          <i class="fas fa-chevron-down"></i>
                      </span>
                  </span>
              </h4>

              <div class="item-controls">
                <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
              </div>
              <div class="item-description">
                <p>{{{item.data.description}}}</p>
              </div>
            </li>
            
          {{/each}}
          </ol>
        </div>
      </div>

      {{#if data.isOwner}}
      {{!-- Owned Items Tab --}}
      <div class="tab items" data-group="primary" data-tab="items">
        <div class="cell cell--common-talent">
          <h2 class="cell--title">
            <label>{{localize "Shinobigami.ItemsList"}}</label>
            <div class="item-controls">
              <button type="button" class="item-control item-create" data-type="item" >
                <i class="fas fa-plus"></i>
              </button>
            </div>
          </h2>
          <ol class="items-list">
          {{#each actor.itemList as |item id|}}
            <li class="item flexrow" data-item-id="{{item.id}}" draggable="true">
              <h4 class="item-name">
                  <span class="echo-item"><img src="{{item.img}}" title="{{item.name}}" width="37" height="37" style="vertical-align : middle;margin-right:10px;"></i></span> 
                  <span class="item-label">{{item.name}} X {{item.data.quantity}}

                      <span class="item-details-toggle">
                          <i class="fas fa-chevron-down"></i>
                      </span>
                  </span>
              </h4>

              <div class="item-controls">
                <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
              </div>
              <div class="item-description">
                <p>{{{item.data.description}}}</p>
                <button type="button" class="use-item">{{localize "Shinobigami.UseItem"}}</button>
              </div>
            </li>
            
          {{/each}}
          </ol>
        </div>
      </div>

      {{!-- Owned Finish Tab --}}
      <div class="tab items" data-group="primary" data-tab="finishs">
        <div class="cell cell--common-talent">
          <h2 class="cell--title">
            <label>{{localize "Shinobigami.Finish"}}</label>
            <div class="item-controls">
              <button type="button" class="item-control item-create" data-type="finish" >
                <i class="fas fa-plus"></i>
              </button>
            </div>
          </h2>
          <ol class="items-list">
          {{#each actor.finishList as |item id|}}
            <li class="item flexrow" data-item-id="{{item.id}}" draggable="true">
              <h4 class="item-name">
                  <span class="echo-item"><img src="{{item.img}}" title="{{item.name}}" width="37" height="37" style="vertical-align : middle;margin-right:10px;"></i></span> 
                  <span class="item-label">{{item.name}}

                      <span class="item-details-toggle">
                          <i class="fas fa-chevron-down"></i>
                      </span>
                  </span>
              </h4>

              <div class="item-controls">
                <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
              </div>
              <div class="item-description">
                <p>{{{item.data.description}}}</p>
              </div>
            </li>
            
          {{/each}}
          </ol>
        </div>
      </div>
      {{/if}}

  </section>
</form>

