<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header flexrow">
    <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
    <div class="header-fields">
        <h1 class="charname"><input name="name" type="text" value="{{item.name}}" ></h1>
    </div>
  </header>

  {{!-- Sheet Body --}}
  <section class="sheet-body">
    {{!-- Description Tab --}}

      <div class="sheet-item margin-top-10">
        <div class="sheet-wrapper">
          <section class="sheet-attributes">
            <div class="cell cell--4">
              <label class="cell--title">{{localize "Shinobigami.Type"}}</label>
            </div>

            <div class="cell cell--4 cell--select">
              <select name="system.type" class="">
                {{#select system.type}}
                <option value="pros">{{localize "Shinobigami.Pros"}}</option>
                <option value="cons">{{localize "Shinobigami.Cons"}}</option>
                {{/select}}
              </select>
            </div>

            <div class="cell cell--4">
              <label class="cell--title">{{localize "Shinobigami.RequireEXP"}}</label>
            </div>

            <div class="cell cell--4">
              <input type="text" name="system.exp" value="{{system.exp}}" data-dtype="String"/>
            </div>

          </section>

          <div class="cell--bio">
            <h3 class="cell--title"><b>{{localize "Shinobigami.Description"}}</b></h3>
            {{editor enrichedBiography target="system.description" button=true editable=editable }}
          </div>

        </div>

    </section>
</form>
