<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header flexrow">
    <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
    <div class="header-fields">
        <h1 class="charname"><input name="name" type="text" value="{{item.name}}" ></h1>
    </div>
  </header>

  {{!-- Sheet Body --}}
  <section class="sheet-body">
    {{!-- Description Tab --}}

      <div class="sheet-item margin-top-10">
        <div class="sheet-wrapper">
          <section class="sheet-attributes">
            <div class="cell cell--5">
              <label class="cell--title">{{localize "Shinobigami.Residence"}} 
                <input type="checkbox" name="system.residence" {{#if system.residence}} checked {{/if}} />
              </label>
              
            </div>

            <div class="cell cell--5">
              <label class="cell--title">{{localize "Shinobigami.Secret"}}
                <input type="checkbox" name="system.secret" {{#if system.secret}} checked {{/if}} />
              </label>
              
            </div>

            <div class="cell cell--6">
              <label class="cell--title">{{localize "Shinobigami.Finish"}}
                <input type="checkbox" name="system.finish" {{#if system.finish}} checked {{/if}} />
              </label>
              
            </div>

            <div class="cell cell--5">
              <label class="cell--title">{{localize "Shinobigami.Feeling"}}</label>
            </div>

            <div class="cell cell--11">
              <input type="text" class="string-input" name="system.feeling" value="{{system.feeling}}" data-dtype="String"/>
            </div>

          </section>

          <div class="cell--bio">
            <h3 class="cell--title">
              <b>{{localize "Shinobigami.Description"}}</b>
    
              {{#if system.actor}}
              <div class="checkbox-addon flexrow">
                <button class="white-btn show-actor"><i class="fas fa-id-card"></i></button>
              </div>
              {{/if}}
    
            </h3>
            {{!-- We're avoiding WYSIWYGs... for now... --}}
            {{editor enrichedBiography target="system.description" button=true editable=editable }}
          </div>

        </div>

    </section>
</form>
