<form class="{{cssClass}}" autocomplete="off">

  <div class="sheet-wrapper">
    <button style="display: none;">Input Button Click bypass</button>
    {{!-- Sheet Header --}}
    <header class="sheet-header">
      <input class="input--title" name="name" type="text" value="{{actor.name}}" placeholder="Name"/>
    </header>

    <section class="sheet-main">
      <div class="sheet-attributes">

        <div class="cell cell--img">
          <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100"/>
        </div>

        <div class="cell cell--attr">
          <div class="cell--horizon">

            <div class="cell">
              <label class="cell--title">{{localize "Shinobigami.HP"}}<i class="fas fa-heart attribute-icon"></i></label>
              <label class="cell--title">{{localize "Shinobigami.Curiosity"}}<i class="fas fa-address-card"></i></label>
              <label class="cell--title"><span style="font-size: 12px">{{localize "Shinobigami.PersonaNum"}}</span><i class="fas fa-address-card"></i></label>
              <label class="cell--title">{{localize "Shinobigami.Exp"}}<i class="fas fa-chart-line"></i></label>
            </div>

            <div class="cell margin-left-10">
              <div class="cell--horizon cell--counter">
                <input type="text" class="number-input" name="system.health.value" value="{{system.health.value}}" data-dtype="Number"/>
                <span class="slash"> / </span>
                <input type="text" class="number-input" name="system.health.max" value="{{system.health.max}}" data-dtype="Number"/>
              </div>

              <div class="cell--select">
                <select name="system.talent.curiosity">
                  {{#select system.talent.curiosity}}
                  <option value="0">-</option>
                  <option value="1">{{localize "Shinobigami.A1"}}</option>
                  <option value="2">{{localize "Shinobigami.B1"}}</option>
                  <option value="3">{{localize "Shinobigami.C1"}}</option>
                  <option value="4">{{localize "Shinobigami.D1"}}</option>
                  <option value="5">{{localize "Shinobigami.E1"}}</option>
                  <option value="6">{{localize "Shinobigami.F1"}}</option>
                  {{/select}}
                </select>
              </div>

              <div class="cell--persona">
                <input type="text" name="system.details.persona" value="{{system.details.persona}}" data-dtype="String">
              </div>

              <div class="cell--exp">
                <input type="text" name="system.details.exp" value="{{system.details.exp}}" data-dtype="Number">
              </div>
            </div>
          </div>


        </div>

        <div class="cell cell--items">
          {{#if system.isOwner}}
          <label class="cell--title">{{localize "Shinobigami.ItemsList"}}
            <div class="item-controls">
              <button class="item-control item-create" data-type="item" style="border: 0;" data-img="pill">
                <i class="fas fa-plus" style="color: white;"></i>
              </button>
            </div>
          </label>

          <div class="items-list">
          {{#each actor.itemList as |item id|}}
            <li class="item flexrow item-addon-list" data-item-id="{{item.id}}" draggable="true">
              <h4 class="item-name">
                  <span class="echo-item"><img src="{{item.img}}" title="{{item.name}}" width="30" height="30" style="vertical-align : middle;margin-right:10px;"></i></span> 
                  <span class="item-label">{{item.name}}</span>
                  
                <span class="item-addon">
                  <button type="button" class="icon-button quantity-change" data-add="-1">-</button>
                  <span>{{item.system.quantity}}</span>
                  <button type="button" class="icon-button quantity-change" data-add="1">+</button>
                  <button type="button" class="use-button use-word use-item">{{localize "Shinobigami.Use"}}</button>
                </span>
              </h4>

              <div class="item-controls">
                <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
              </div>
              <div class="item-description">
                {{{item.system.description}}}
              </div>
            </li>
          {{/each}}
          </div>

          {{else}}
          <div class="logo-box">
            <img src="systems/shinobigami/assets/logo1.png" height=160>
          </div>
          {{/if}}


        </div>
      </div>

      {{!-- Sheet Tab Navigation --}}
      <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="skill">{{localize "Shinobigami.Skill"}}</a>
        <a class="item" data-tab="description">{{localize "Shinobigami.Description"}}</a>
        <a class="item" data-tab="bonds">{{localize "Shinobigami.Bonds"}}</a>
        <a class="item" data-tab="background">{{localize "Shinobigami.Background"}}</a>
        <a class="item" data-tab="secret">{{localize "Shinobigami.Secret"}}</a> 
      </nav>


      {{!-- Sheet Body --}}
      <section class="sheet-body">

        {{!-- Talent Tab --}}
        <div class="tab skill" data-group="primary" data-tab="skill">
          <div class="cell">
            <h2 class="cell--title">{{localize "Shinobigami.Skill"}}</h2>
          </div>
          <div class="talent-table">
          <table class="{{lang}}">
              <colgroup>
                  <col span="1" class="talent-num">
                  <col span="1" class="talent-gap">
                  <col span="1" class="talent-name">
                  <col span="1" class="talent-gap">
                  <col span="1" class="talent-name">
                  <col span="1" class="talent-gap">
                  <col span="1" class="talent-name">
                  <col span="1" class="talent-gap">
                  <col span="1" class="talent-name">
                  <col span="1" class="talent-gap">
                  <col span="1" class="talent-name">
                  <col span="1" class="talent-gap">
                  <col span="1" class="talent-name">
                  <col span="1" class="talent-num">
              </colgroup>

              <tbody>
                  <tr>
                      <th></th>
                      <td class="gap"><input class="talent-checkbox" type="checkbox" name="system.talent.gap.0"  {{#if system.talent.gap.[0]}} checked {{/if}}></td>

                      <th class="talent-header">
                        <div class="header-name {{#if system.health.dirty.[0]}} dirty {{/if}}" data-num="0">{{localTalent "Shinobigami.A1"}}</div>
                        <input class="header-checkbox" type="checkbox" name="system.health.state.0"  {{#if system.health.state.[0]}} checked {{/if}}>
                        <input type="hidden" name="system.health.dirty.0" value="{{system.health.dirty.[0]}}" data-dtype="Boolean">
                      </th>

                      <td class="gap"><input class="talent-checkbox" type="checkbox" name="system.talent.gap.1"   {{#if system.talent.gap.[1]}} checked {{/if}}></td>

                      <th class="talent-header">
                        <div class="header-name {{#if system.health.dirty.[1]}} dirty {{/if}}" data-num="1">{{localTalent "Shinobigami.B1"}}</div>
                        <input class="header-checkbox" type="checkbox" name="system.health.state.1"  {{#if system.health.state.[1]}} checked {{/if}}>
                        <input type="hidden" name="system.health.dirty.1" value="{{system.health.dirty.[1]}}" data-dtype="Boolean">
                      </th>

                      <td class="gap"><input class="talent-checkbox" type="checkbox" name="system.talent.gap.2"  {{#if system.talent.gap.[2]}} checked {{/if}}></td>
                      <th class="talent-header">
                        <div class="header-name {{#if system.health.dirty.[2]}} dirty {{/if}}" data-num="2">{{localTalent "Shinobigami.C1"}}</div>
                        <input class="header-checkbox" type="checkbox" name="system.health.state.2"  {{#if system.health.state.[2]}} checked {{/if}}>
                        <input type="hidden" name="system.health.dirty.2" value="{{system.health.dirty.[2]}}" data-dtype="Boolean">
                      </th>

                      <td class="gap"><input class="talent-checkbox" type="checkbox" name="system.talent.gap.3"  {{#if system.talent.gap.[3]}} checked {{/if}}></td>
                      <th class="talent-header">
                        <div class="header-name {{#if system.health.dirty.[3]}} dirty {{/if}}" data-num="3">{{localTalent "Shinobigami.D1"}}</div>
                        <input class="header-checkbox" type="checkbox" name="system.health.state.3"  {{#if system.health.state.[3]}} checked {{/if}}>
                        <input type="hidden" name="system.health.dirty.3" value="{{system.health.dirty.[3]}}" data-dtype="Boolean">
                      </th>

                      <td class="gap"><input class="talent-checkbox" type="checkbox" name="system.talent.gap.4" {{#if system.talent.gap.[4]}} checked {{/if}}></td>
                      <th class="talent-header">
                        <div class="header-name {{#if system.health.dirty.[4]}} dirty {{/if}}" data-num="4">{{localTalent "Shinobigami.E1"}}</div>
                        <input class="header-checkbox" type="checkbox" name="system.health.state.4" {{#if system.health.state.[4]}} checked {{/if}}>
                        <input type="hidden" name="system.health.dirty.4" value="{{system.health.dirty.[4]}}" data-dtype="Boolean">
                      </th>

                      <td class="gap"><input class="talent-checkbox" type="checkbox" name="system.talent.gap.5" {{#if system.talent.gap.[5]}} checked {{/if}}></td>
                      <th class="talent-header">
                        <div class="header-name {{#if system.health.dirty.[5]}} dirty {{/if}}" data-num="5">{{localTalent "Shinobigami.F1"}}</div>
                        <input class="header-checkbox" type="checkbox" name="system.health.state.5" {{#if system.health.state.[5]}} checked {{/if}}>
                        <input type="hidden" name="system.health.dirty.5" value="{{system.health.dirty.[5]}}" data-dtype="Boolean">
                      </th>

                      <th></th>
                  </tr>
                  {{#each system.tables}}  
                  <tr>
                      <th>{{number}}</th>
                      <td {{#if ../system.talent.gap.[0]}} class="active" {{/if}}></td>
                      <td class="{{#if line.[0].state}} checked {{/if}} {{#if line.[0].stop}} stop {{/if}} {{#if line.[0].expert}} expert {{/if}} {{#if line.[0].subTitle}} subTitle {{/if}}" >
                          <input class="talent-checkbox" type="checkbox" name="{{line.[0].name}}.state" {{#if line.[0].state}} checked {{/if}} >
                          <input type="hidden" name="{{line.[0].name}}.num" value="{{line.[0].num}}">
                          <input type="hidden" name="{{line.[0].name}}.stop" value="{{line.[0].stop}}" data-dtype="Boolean">
                          <input type="hidden" name="{{line.[0].name}}.expert" value="{{line.[0].expert}}" data-dtype="Boolean">
                          <div class="talent-name" data-title="{{localTalent line.[0].title}}" data-num="{{line.[0].num}}" data-id="{{line.[0].id}}" data-stop="{{line.[0].stop}}">{{localTalent line.[0].title}} / {{line.[0].num}}</div>
                      </td>

                      <td {{#if ../system.talent.gap.[1]}} class="active" {{/if}}></td>
                      <td  class="{{#if line.[1].state}} checked {{/if}} {{#if line.[1].stop}} stop {{/if}} {{#if line.[1].expert}} expert {{/if}} {{#if line.[1].subTitle}} subTitle {{/if}}" >
                          <input class="talent-checkbox" type="checkbox" name="{{line.[1].name}}.state" {{#if line.[1].state}} checked {{/if}} >
                          <input type="hidden" name="{{line.[1].name}}.num" value="{{line.[1].num}}">
                          <input type="hidden" name="{{line.[1].name}}.stop" value="{{line.[1].stop}}" data-dtype="Boolean">
                          <input type="hidden" name="{{line.[1].name}}.expert" value="{{line.[1].expert}}" data-dtype="Boolean">
                          <div class="talent-name" data-title="{{localTalent line.[1].title}}" data-num="{{line.[1].num}}" data-id="{{line.[1].id}}" data-stop="{{line.[1].stop}}">{{localTalent line.[1].title}} / {{line.[1].num}}</div>
                      </td>

                      <td {{#if ../system.talent.gap.[2]}} class="active" {{/if}}></td>

                      <td class="{{#if line.[2].state}} checked {{/if}} {{#if line.[2].stop}} stop {{/if}} {{#if line.[2].expert}} expert {{/if}} {{#if line.[2].subTitle}} subTitle {{/if}}" >
                          <input class="talent-checkbox" type="checkbox" name="{{line.[2].name}}.state" {{#if line.[2].state}} checked {{/if}} >
                          <input type="hidden" name="{{line.[2].name}}.num" value="{{line.[2].num}}">
                          <input type="hidden" name="{{line.[2].name}}.stop" value="{{line.[2].stop}}" data-dtype="Boolean">
                          <input type="hidden" name="{{line.[2].name}}.expert" value="{{line.[2].expert}}" data-dtype="Boolean">
                          <div class="talent-name" data-title="{{localTalent line.[2].title}}" data-num="{{line.[2].num}}" data-id="{{line.[2].id}}" data-stop="{{line.[2].stop}}">{{localTalent line.[2].title}} / {{line.[2].num}}</div>
                      </td>

                      <td {{#if ../system.talent.gap.[3]}} class="active" {{/if}}></td>

                      <td class="{{#if line.[3].state}} checked {{/if}} {{#if line.[3].stop}} stop {{/if}} {{#if line.[3].expert}} expert {{/if}} {{#if line.[3].subTitle}} subTitle {{/if}}" >
                          <input class="talent-checkbox" type="checkbox" name="{{line.[3].name}}.state" {{#if line.[3].state}} checked {{/if}} >
                          <input type="hidden" name="{{line.[3].name}}.num" value="{{line.[3].num}}">
                          <input type="hidden" name="{{line.[3].name}}.stop" value="{{line.[3].stop}}" data-dtype="Boolean">
                          <input type="hidden" name="{{line.[3].name}}.expert" value="{{line.[3].expert}}" data-dtype="Boolean">
                          <div class="talent-name" data-title="{{localTalent line.[3].title}}" data-num="{{line.[3].num}}" data-id="{{line.[3].id}}" data-stop="{{line.[3].stop}}">{{localTalent line.[3].title}} / {{line.[3].num}}</div>
                      </td>

                      <td {{#if ../system.talent.gap.[4]}} class="active" {{/if}}></td>

                      <td class="{{#if line.[4].state}} checked {{/if}} {{#if line.[4].stop}} stop {{/if}} {{#if line.[4].expert}} expert {{/if}} {{#if line.[4].subTitle}} subTitle {{/if}}" >
                          <input class="talent-checkbox" type="checkbox" name="{{line.[4].name}}.state" {{#if line.[4].state}} checked {{/if}} >
                          <input type="hidden" name="{{line.[4].name}}.num" value="{{line.[4].num}}">
                          <input type="hidden" name="{{line.[4].name}}.stop" value="{{line.[4].stop}}" data-dtype="Boolean">
                          <input type="hidden" name="{{line.[4].name}}.expert" value="{{line.[4].expert}}" data-dtype="Boolean">
                          <div class="talent-name" data-title="{{localTalent line.[4].title}}" data-num="{{line.[4].num}}" data-id="{{line.[4].id}}" data-stop="{{line.[4].stop}}">{{localTalent line.[4].title}} / {{line.[4].num}}</div>
                      </td>

                      <td {{#if ../system.talent.gap.[5]}} class="active" {{/if}}></td>

                      <td class="{{#if line.[5].state}} checked {{/if}} {{#if line.[5].stop}} stop {{/if}} {{#if line.[5].expert}} expert {{/if}} {{#if line.[5].subTitle}} subTitle {{/if}}" >
                          <input class="talent-checkbox" type="checkbox" name="{{line.[5].name}}.state" {{#if line.[5].state}} checked {{/if}} >
                          <input type="hidden" name="{{line.[5].name}}.num" value="{{line.[5].num}}">
                          <input type="hidden" name="{{line.[5].name}}.stop" value="{{line.[5].stop}}" data-dtype="Boolean">
                          <input type="hidden" name="{{line.[5].name}}.expert" value="{{line.[5].expert}}" data-dtype="Boolean">
                          <div class="talent-name" data-title="{{localTalent line.[5].title}}" data-num="{{line.[5].num}}" data-id="{{line.[5].id}}" data-stop="{{line.[5].stop}}">{{localTalent line.[5].title}} / {{line.[5].num}}</div>
                      </td>
                      <th>{{number}}</th>
                  </tr>
                  {{/each}}
              </tbody>
          </table>
          
          <table style="text-align: center;">
              <colgroup>
                  <col span="1" style="width: 16%;">
                  <col span="1" style="width: 16%;">
                  <col span="1" style="width: 16%;">
                  <col span="1" style="width: 16%;">
                  <col span="1" style="width: 16%;">
                  <col span="1" style="width: 16%;">
              </colgroup>
              <tr>
                  <th>{{localize "Shinobigami.OverflowX"}}</th>
                  <td><input type="checkbox" name="system.talent.overflowX" data-dtype="Boolean" {{#if system.talent.overflowX}} checked {{/if}}></td>
                  <th>{{localize "Shinobigami.OverflowY"}}</th>
                  <td><input type="checkbox" name="system.talent.overflowY" data-dtype="Boolean" {{#if system.talent.overflowY}} checked {{/if}}></td>
                  <th>{{localize "Shinobigami.Yoma"}}</th>
                  <td><input type="checkbox" name="system.talent.yoma" data-dtype="Boolean" {{#if system.talent.yoma}} checked {{/if}}></td>
              </tr>
              
          </table>

          <input type="hidden" name="system.talent.subTitle.id" value="{{system.talent.subTitle.id}}">
          <input type="hidden" name="system.talent.subTitle.title" value="{{system.talent.subTitle.title}}">
          <input type="hidden" name="system.talent.subTitle.state" value="{{system.talent.subTitle.state}}" data-dtype="Boolean">

          </div>
        </div>

        {{!-- Biography Tab --}}
        <div class="tab biography" data-group="primary" data-tab="description">
            <div class="cell">
              <h2 class="cell--title">{{localize "Shinobigami.Basic"}}</h2>
            </div>
            <table>
                <tr>
                    <th>{{localize "Shinobigami.Age"}}</th>
                    <td><input type="text" name="system.details.age" value="{{system.details.age}}"></td>
                    <th>{{localize "Shinobigami.Gender"}}</th>
                    <td><input type="text" name="system.details.sex" value="{{system.details.sex}}"></td>
                </tr>
                <tr>
                    <th>{{localize "Shinobigami.Purpose"}}</th>
                    <td colspan="3"><input type="text" name="system.details.purpose" value="{{system.details.purpose}}"></td>
                </tr>
                <tr>
                    <th>{{localize "Shinobigami.PersonaNum"}}</th>
                    <td colspan="3" style="text-align: center;"> {{system.details.persona}}</td>
                </tr>
                <tr>
                    <th>{{localize "Shinobigami.Identify"}}</th>
                    <td><input type="text" name="system.details.identify" value="{{system.details.identify}}"></td>
                    <th>{{localize "Shinobigami.Belief"}}</th>
                    <td><input type="text" name="system.details.belief" value="{{system.details.belief}}"></td>
                </tr>

            </table>

            <div class="cell">
              <h2 class="cell--title">{{localize "Shinobigami.Memo"}}</h2>
            </div>
            {{editor enrichedBiography target="system.details.biography" button=true editable=editable }}
        </div>

        {{!-- Owned Bonds Tab --}}
        <div class="tab items" data-group="primary" data-tab="bonds">
          <div class="cell cell--common-talent">
            <h2 class="cell--title">
              <label>{{localize "Shinobigami.BondsList"}}</label>
              <div class="item-controls">
                <button type="button" class="item-control item-create" data-type="bond" data-img="mystery-man">
                  <i class="fas fa-plus"></i>
                </button>
              </div>
            </h2>
            <ol class="items-list">
            {{#each actor.bondList as |item id|}}
              <li class="item flexrow" data-item-id="{{item.id}}" draggable="true">
                
                <h4 class="item-name">
                    <span class="echo-item" style="float:left;">
                        <img src="{{item.img}}" title="{{item.name}}" width="37" height="37" style="vertical-align : middle;margin-right:10px;">
                    </span> 
                    <span class="item-label">{{item.name}}<br>
                    <span style="color : gray; font-size : smaller;">
                        <b>{{localize "Shinobigami.Residence"}}</b> : {{#if item.system.residence}} O {{else}} X {{/if}} /
                        <b>{{localize "Shinobigami.Secret"}}</b> : {{#if item.system.secret}} O {{else}} X {{/if}} /
                        <b>{{localize "Shinobigami.Finish"}}</b> : {{#if item.system.finish}} O {{else}} X {{/if}} /
                        <b>{{localize "Shinobigami.Feeling"}}</b> : {{item.system.feeling}}
                        
                    </span></span>
                </h4>

                <div class="item-controls">
                  <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                  <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                </div>
                <div class="item-description">
                  {{{item.system.description}}}
                </div>
              </li>
            {{/each}}
            </ol>
          </div>
        </div>
        
        {{!-- Owned Background Tab --}}
        <div class="tab items" data-group="primary" data-tab="background">
          <div class="cell cell--common-talent">
            <h2 class="cell--title">
              <label>{{localize "Shinobigami.Background"}}</label>
              <div class="item-controls">
                <button type="button" class="item-control item-create" data-type="background" data-img="book">
                  <i class="fas fa-plus"></i>
                </button>
              </div>
            </h2>
            <ol class="items-list">
            {{#each actor.backgroundList as |item id|}}
              <li class="item flexrow" data-item-id="{{item.id}}" draggable="true">

                <h4 class="item-name">
                    <span class="echo-item" style="float:left;">
                        <img src="{{item.img}}" title="{{item.name}}" width="37" height="37" style="vertical-align : middle;margin-right:10px;">
                    </span> 
                    <span class="item-label">{{item.name}}<br>
                    <span style="color : gray; font-size : smaller;">
                        <b>{{localize "Shinobigami.Type"}}</b> : {{#ifEquals item.system.type "pros"}} <i class="fas fa-grin-alt"></i> {{else}} <i class="fas fa-frown"></i> {{/ifEquals}} /
                        <b>{{localize "Shinobigami.RequireEXP"}}</b> : {{item.system.exp}}
                        
                </h4>

                <div class="item-controls">
                  <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                  <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                </div>
                <div class="item-description">
                  {{{item.system.description}}}
                </div>
              </li>
              
            {{/each}}
            </ol>
          </div>
          
          <br>
          <div class="cell">
            <h2 class="cell--title">{{localize "Shinobigami.ExpContent"}}</b></h2>
            {{editor enrichedExpContent target="system.details.expContent" button=true editable=editable }}
          </div>
        </div>

        {{!-- Owned Finish Tab --}}
        <div class="tab items" data-group="primary" data-tab="secret">
          <div class="cell cell--common-talent">
            <h2 class="cell--title">
              <label>{{localize "Shinobigami.Handout"}}</label>
              <div class="item-controls">
                <button type="button" class="item-control item-create" data-type="handout" data-img="card-hand">
                  <i class="fas fa-plus"></i>
                </button>
              </div>
            </h2>
            <ol class="items-list">
            {{#each actor.handoutList as |item id|}}

            {{#ifOR ../isGM (checkVisible item.system.visible ../userId)}} 
              <li class="item flexrow" data-item-id="{{item.id}}" draggable="true">

                <h4 class="item-name">
                    <span class="echo-item">
                        <img src="{{item.img}}" title="{{item.name}}" width="37" height="37" style="vertical-align : middle;margin-right:10px;">
                    </span> 
                    <span class="item-label">{{item.name}}</span>
                </h4>

                <div class="item-controls">
                  <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                  <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                </div>
                <div class="item-description">
                  {{{item.system.description}}}
                </div>
              </li>
            {{/ifOR}}
              
            {{/each}}
            </ol>
          </div>
        </div>


      </section>

    </section>
  </div>
</form>

